<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui right aligned container">
	
	<!-- <img class="ui middle aligned tiny image" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"> -->
	<a href="mailto:contact@coopmaths.fr"  style="color: black; padding-right: 2em" ><i class="mail icon"></i>contact@coopmaths.fr</a>
	<a href="/twitter" targer="_blank" style="color: black; padding-right: 2em" ><i class="twitter icon"></i>@CoopMaths_fr</a>
	<img class="ui middle aligned image" height="25" src="/images/logo2.png">
<span class="ui header"></span>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>


