<nav>

<div class="ui top attached five item stackable container menu  ">
  <div class="ui  dropdown item" class="blanc">CoopMaths <i class="dropdown icon"></i> 
    <div class="menu">
      <a href="/" class="item">Sixième</a>
      <a href="/5e" class="item">Cinquième (en construction)</a>
      <a href="/4e" class="item">Quatrième (prochainement)</a>
      <a href="/3e" class="item">Troisième (en construction)</a>
    </div>
  </div> 
  <!-- <a  href="/" class="ui simple  item">CoopMaths </a>  -->

<!-- <div class="ui  dropdown item" class="blanc">CoopMaths <i class="dropdown icon"></i> 
    <div class="menu">
      <a href="/" class="item">Sixième</a>
      <a href="/angot" class="item">Élèves de Clarensac</a>
      
    </div>
</div> -->

  <a  href="/a_propos/" class="ui simple  item">À propos</a>
  <a  href="/telechargements"class="ui simple  item">Téléchargements</a> 
  <a  href="mailto:contact@coopmaths.fr" class="ui simple  item">Contact</a>
  <div class="ui  dropdown item" class="blanc">MathALEA <i class="dropdown icon"></i> 
  	<div class="menu">
      <a href="/mathalea.html" class="item">Exercices en ligne</a>
      <a href="/cm.html" class="item">Diaporama</a>
      <a href="/mathalealatex.html"class="item">Générateur LaTeX</a>
      <a href="/alacarte"class="item">Évaluation à la carte</a>
      <a href="/mathalea_tuto" class="item">Comment l'utiliser ?</a>
      <a href="/mathalea_a_propos" class="item">À propos</a>
    </div>
  </div>
</div>

<script type="text/javascript">
     $(document).ready(function(){
          $('.ui.dropdown') .dropdown();
    });     
   </script>

</nav>



<div class="ui hidden divider"></div>