<!-- {{/*
Utilisation: {{% menu_choix_des_items_a_la_carte %}}
*/}}-->




<div class="ui dropdown">
  <div class="text">Sixième</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item"><i class="dropdown icon"></i> Calculs <div class="menu">
        <div class="item" data-value="test">6C10 - Additionner, soustraire et multiplier des nombres entiers.
 <img class="ui mini image" src="/images/dice.png"></div>
        <div class="item">6C11 - Calculer des divisions euclidiennes simples. <img class="ui mini image" src="/images/dice.png"> </div>
        <div class="item">6C12 - Résoudre des problèmes de niveau 1.</div>
        <div class="item">6C20 - Additionner et soustraire des nombres décimaux. <img class="ui mini image" src="/images/dice.png"> </div>
        <div class="item">6C21 - Calculer une division euclidienne de niveau 2. <img class="ui mini image" src="/images/dice.png"> </div>
        <div class="disabled item">6C22 - Résoudre des problèmes de niveau 2.</div>
        <div class="disabled item">6C30 - Multiplier des nombres décimaux. <img class="ui mini image" src="/images/dice.png"> </div>
        <div class="disabled item">6C31 - Effectuer une division décimale. <img class="ui mini image" src="/images/dice.png"></div>
        <div class="disabled item">6C32 - Résoudre des problèmes de niveau 3. </div>
      </div>
    </div>
    <div class="item"><i class="dropdown icon"></i> Géométrie <div class="menu">
        <div class="item">6G10 - Connaitre le vocabulaire et les notations des points, des droites, des segments, des demi-droites et des cercles.</div>
        <div class="item">6G11 - Tracer des perpendiculaires.</div>
        <div class="item">6G12 - Tracer des parallèles.</div>
        <div class="item">6G13 - Tracer des rectangles et des carrés de longueurs données.</div>
        <div class="item">6G14 - Exécuter un programme de construction de niveau 1.</div>
        <div class="disabled item">6G20 - Connaître le vocabulaire des polygones.</div>
        <div class="disabled item">6G21 - Tracer un polygone avec le compas et l’équerre.</div>
      <div class="disabled item">6G22 - Connaître le vocabulaire et les notations des angles.</div>
      <div class="disabled item">6G23 - Utiliser le rapporteur pour tracer ou mesurer un angle. </div>
      <div class="disabled item">6G24 - Tracer le symétrique d’une figure.</div>
      <div class="disabled item">6G25 - Tracer la médiatrice d’un segment.</div>
      <div class="disabled item">6G30 - Exécuter un programme de construction complexe.</div>
      <div class="disabled item">6G31 - Agrandissement ou réduction de figures.</div>
      <div class="disabled item">6G32 - Connaître et utiliser les propriétés de conservation de la symétrie axiale.</div>
      <div class="disabled item">6G33 - Connaître et utiliser les propriétés des polygones particuliers.</div>

    </div>
	</div>
    <div class="item"><i class="dropdown icon"></i> Grandeurs et mesures <div class="menu">
        <div class="disabled item">6M10 - Déterminer le périmètre d’un polygone.</div>
        <div class="disabled item">6M11 - Déterminer l’aire d’un carré ou d’un rectangle (ou de figures composées de rectangles et carrés).</div>
        <div class="disabled item">6M12 - Convertir des longueurs.</div>
        <div class="disabled item">6M13 - Résoudre un problème en utilisant les périmètres et les aires.</div>
        <div class="disabled item">6M20 - Déterminer l’aire d’un triangle.</div>
        <div class="disabled item">6M21 - Déterminer l’aire d’un polygone par assemblage ou par découpage. </div>
        <div class="disabled item">6M22 - Déterminer le périmètre ou l’aire d’un disque.</div>
        <div class="disabled item">6M23 - Convertir des aires.</div>
        <div class="disabled item">6M30 - Déterminer le volume d’un pavé droit.</div>
        <div class="disabled item">6M31 - Convertir des volumes (et faire le lien avec les contenances).</div>

      </div>
    </div>
    <div class="item"><i class="dropdown icon"></i> Numération et fractions <div class="menu">
        <div class="disabled item">6N10 - Connaitre le système décimal.
</div>
        <div class="disabled item">6N11 - Comparer, ranger, encadrer, repérer des grands nombres entiers.</div>
        <div class="disabled item">6N12 - Multiplier un entier par 10, 100, 1 000...</div>
        <div class="disabled item">6N13 - Utiliser les préfixes multiplicateurs (déca à kilo).</div>
        <div class="disabled item">6N14 - Comprendre et utiliser la notion de fraction dans des cas simples.</div>
        <div class=" item">6N20 - Faire le lien entre les fractions et les nombres entiers.</div>
        <div class=" item">6N21 - Repérer et placer des fractions sur une demi-droite graduée (origine visible). </div>
        <div class=" item">6N22 - Faire des calculs simples avec des fractions à l’aide d’un dessin.</div>
        <div class=" item">6N23 - Comprendre et utiliser différentes écritures d’un nombre.</div>
        <div class=" item">6N24 - Utiliser les préfixes multiplicateurs et diviseurs (milli à kilo).</div>
        <div class="disabled item">6N30 - Repérer et placer des nombres décimaux sur une demi-droite graduée adaptée.</div>
        <div class="disabled item">6N31 - Comparer, ranger, encadrer, intercaler des nombres décimaux.</div>
        <div class="disabled item">6N32 - Repérer et placer des fractions sur une demi-droite graduée (origine non visible).</div>
        <div class="disabled item">6N33 - Calculer la fraction d’une quantité.</div>
        <div class="disabled item">6N34 - Utiliser les préfixes diviseurs (milli à téra).</div>
        <div class="disabled item">6N40 - Repérer et placer des nombres décimaux sur une demi-droite graduée - niveau 2.</div>
        <div class="disabled item">6N41 - Établir des égalités entre des fractions simples.</div>
        <div class="disabled item">6N42 - Multiples et diviseurs des nombres d’usage courant.</div>
        <div class="disabled item">6N43 - Critères de divisibilité.</div>
      </div>
    </div>
  </div>
</div>