{{ define "main" }}


{{ partial "header" }}

<div class="ui text container">


    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>


    <div class="ui three raised stackable cards">
        <a class="card" href="/mathalea.html">
            <div class="content">
                <div class="center aligned header"><img class="ui small avatar image" src="/images/dice.png">MathALEA</div>
                <div class="description">Tous les exercices à données aléatoires</div>   
            </div> 
        </a>
        <a class="card" href="/cm.html">
            <div class="content">
                <div class="center aligned header"><i class="stopwatch icon"></i>MathALEA</div>
                <div class="description">Diaporama chronométré des exercices à données aléatoires</div>   
            </div> 
        </a>
        <a class="card" href="/mathalealatex.html">
            <div class="content">
                <div class="center aligned header"><i class="file pdf outline icon"></i>PDF / LaTeX</div>
                <div class="description">Créer un fichier avec des exercices à données aléatoires</div>
                
            </div> 
        </a>
       
         
     </div>


     <div class="ui hidden divider"></div>
     <div class="ui hidden divider"></div>


     <div class="ui four raised stackable cards">
        <a class="card " href="/6e">
            <div class="content">
                <div class="ui huge center aligned header" style="color: #f15929;">6e</div>
                <div class="center aligned header">Ressources</div>
                <!-- <div class="description">Texte à moduler.</div>    -->
            </div> 
        </a>
        <a class="card " href="/5e">
            <div class="content">
                <div class="ui huge center aligned header" style="color: #f15929;">5e</div>
                <div class="center aligned header">Ressources</div>
                <!-- <div class="description">Texte à moduler.</div>    -->
            </div> 
        </a>
        <a class="card " href="/4e">
            <div class="content">
                <div class="ui huge center aligned header" style="color: #f15929;">4e</div>
                <div class="center aligned header">Ressources</div>
                <!-- <div class="description">Texte à moduler.</div>    -->
            </div> 
        </a>
        <a class="card " href="/3e">
            <div class="content">
                <div class="ui huge center aligned header" style="color: #f15929;">3e</div>
                <!-- <div class="ui huge center aligned header" style="color: #f15929;"><img src="/images/classe-test.png"></div> -->
                <div class="center aligned header">Ressources</div>
                <!-- <div class="description">Texte à moduler.</div>    -->
            </div> 
        </a>         
     </div>

     <!-- <div class="ui three raised stackable cards">
        <a class="card " href="/5Priorites2020">
            <div class="content">
                <div class="ui huge center aligned header" style="color: #f15929;">5e</div>
                <div class="center aligned header">Rentrée 2020</div>
                <div class="description">Compétences à tester en priorité.</div>   
            </div> 
        </a>
        <a class="card " href="/4Priorites2020">
            <div class="content">
                <div class="ui huge center aligned header" style="color: #f15929;">4e</div>
                <div class="center aligned header">Rentrée 2020</div>
                <div class="description">Compétences à tester en priorité.</div>   
            </div> 
        </a>
        <a class="card " href="/3Priorites2020">
            <div class="content">
                <div class="ui huge center aligned header" style="color: #f15929;">3e</div>
                <div class="center aligned header">Rentrée 2020</div>
                <div class="description">Compétences à tester en priorité.</div>   
            </div> 
        </a>         
     </div> -->

     <!-- <div class="ui hidden divider"></div>
     <div class="ui hidden divider"></div>
     <div class="ui hidden divider"></div> -->

     <div class="ui four raised stackable cards">
        <a class="card " href="/2e">
            <div class="content">
                <div class="ui large center aligned header" style="color: #f15929;">Seconde</div>
                <div class="center aligned header"><img class="ui mini image" src="/images/construction.png"></div>  
                <div class="description" style="text-align: center;">Développement en cours</div>  
            </div> 
        </a>
        <a class="card " href="/mathalea.html">
            <div class="content">
                <div class="ui large center aligned header" style="color: #f15929;">Première</div>
                <div class="center aligned header"><img class="ui mini image" src="/images/construction.png"></div>  
                <div class="description" style="text-align: center;">Développement en cours</div> 

            </div> 
        </a>
        <a class="card " href="#">
            <div class="content">
                <div class="ui large center aligned header" style="color: #f15929;">Terminale</div>
                <div class="center aligned header"><img class="ui mini image" src="/images/croix.png"></div>  
                <div class="description" style="text-align: center;">Prochainement</div>  
            </div> 
        </a>
        <!-- modifier pour un lien mathalea.html?filtre = crpe pour filtrer sur les exos crpe  -->
        <a class="card " href="/crpe">
            <div class="content">
                <div class="ui large center aligned header" style="color: #f15929;">CRPE</div>
                <div class="center aligned header"><img class="ui mini image" src="/images/construction.png"></div>  
                <div class="description" style="text-align: center;">Développement en cours</div> 

            </div> 
        </a>         
     </div>


     <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>


    <div class="ui three raised stackable cards">
       
        <a class="card" href="/alacarte">
            <div class="content">
                <div class="center aligned header">À la carte</div>
                <div class="center aligned header"><img class="ui mini image" style="margin-top: 10px;" src="/images/different.png"></div>  
                <!-- <div class="center aligned header"><i class="user outline icon" style="margin-top: 10px;"></i></div>   -->
                <div class="description">Créer un fichier avec des exercices personnalisés pour chaque élève</div>   
            </div> 
        </a>
        
        <a class="card" href="/mathalea2d.html">
            <div class="content">
                <div class="center aligned header">MathALEA2D</div>
                <div class="center aligned header"><i class="pencil alternate icon" style="margin-top: 10px;"></i></div>  
                <div class="description">Générer des figures géométriques à  partir de lignes de code</div>  
            </div> 
        </a>
        
        <a class="card " href="/mathalea2iep.html">
            <div class="content">
                <div class="center aligned header">InstrumEnPoche</div>
                <div class="center aligned header"><img class="ui mini image" style="margin-top: 10px;" src="/images/geometrie.png"></div>  
                <div class="description">Créer des animations géométriques à partir de lignes de code</div>  
            </div> 
        </a>
         
     </div>


    

    
     
     

</div>    
{{ partial "footer" . }}

{{ end }}
