{{ define "main" }}


{{ partial "header" }}

<div class="ui text container">

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div class="ui one raised stackable cards">
    <a class="card" href="https://coopmaths.fr/mathalea.html?v=crpe" target="_blank">
      <div class="content">
        <div class="left aligned huge header">
          <div style="float: left; width: 25%;"><img class="ui image"
              src="https://coopmaths.fr/assets/images/logo_copi.png" /></div>
          <div style="margin-left: 25%;">Exercices issus des annales du CRPE <br>pour s'entrainer au concours</div>
        </div>
        <!-- <div class="center aligned description"></div> -->
      </div>
    </a>
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  
  <div class="ui one raised stackable cards">
    <a class="card" href="/crpe2" target="_blank">
      <div class="content">
        <div class="left aligned huge header">
          <div style="float: left; width: 25%;"><img width="80%"
              src="https://coopmaths.fr/assets/images/dice.png" /></div>
          <div style="margin-left: 25%;">Exercices MathALEA et du DNB<br>pour se remettre à niveau</div>
        </div>
        <!-- <div class="center aligned description"></div> -->
      </div>
    </a>
  </div>


  </div>

</div>
{{ partial "footer" . }}

{{ end }}