{{ define "main" }}


{{ partial "header" }}

<div class="ui text container">

     <h3>Niveau 3e</h3>
     <div class="ui middle aligned animated selection divided list">
          <a class="item" href="/pdf/CoopMaths-Referentiel-3e.pdf" target="_blank">
               <i class="large black file pdf outline icon"></i> <div class="header content"> Télécharger le référentiel </div>
          </a>

          {{ range sort (where .Site.Pages "Params.niveau" "3e") "Params.ref" }}

          <a class="item" href="{{.URL}}"><div class="header content">{{.Params.ref}} - {{.Title}}</div></a>
          {{ end }}

     </div>

     <!-- <h3><a href="/CM6" style="color:inherit !important" >Calcul mental - 6e (avec mathsmentales.net)</a></h3> -->

</div>    
{{ partial "footer" . }}

{{ end }}

