{{ define "main" }}


{{ partial "header" }}

<div class="ui text container">


     <h1 class="ui block center aligned header">Niveau 3e<a href="/"><i class="small level up alternate icon" style="color: black"></i></a> </h1>

     <div class="ui middle aligned animated selection divided list">
          <a class="item" href="/pdf/CoopMaths-Referentiel-3e.pdf" target="_blank">
               <i class="large black file pdf outline icon"></i> <div class="header content"> Télécharger le référentiel </div>
          </a>
          <a class="item" href="/mathalea.html?filtre=dnb" target="_blank">
               <i class="large black book icon"></i> <div class="header content"> Annales du brevet des collèges </div>
          </a>
          
          <!-- On range les priorités avant les items du référentiel -->
          <!-- On fait une requete pour filtrer le niveau 3e -->
          {{ $v1 := where .Site.Pages "Params.niveau" "3e" }}
          <!-- On fait une requete pour filtrer le sousniveau priorites -->
          {{ $v2 := where .Site.Pages "Params.sousniveau" "priorites" }}
          <!-- On fait une requete pour filtrer si le sousniveau n'est pas défini -->
          {{ $v3 := where .Site.Pages "Params.sousniveau" nil }}
          <!-- On crée la requete pour filtrer les pages du niveau 3e qui ont le parametre sousniveau priorites -->
          {{ $filtered_prio := $v1 | intersect $v2 }}
          <!-- On crée la requete pour filtrer les pages du niveau 3e qui ont le parametre sousniveau non défini -->
          {{ $filtered_non_prio := $v1 | intersect $v3 }}
          
          
          {{ range sort $filtered_prio }}
          <!-- <a class="item" href="{{.URL}}"><div class="header content">{{.Params.ref}} - {{.Title}}</div></a> -->
          <a class="item" href="{{.URL}}"><div class="header content">{{.Params.ref}}</div></a>
          {{ end }}  

          <!--pour mémoire   range sort (where .Site.Pages "Params.niveau" "3e") "Params.ref"    -->
          {{ range sort $filtered_non_prio "Params.ref"}}          
          <a class="item" href="{{.URL}}"><div class="header content">{{.Params.ref}} - {{.Title}}</div></a>
          {{ end }}

     </div>

     <!-- <h3><a href="/CM6" style="color:inherit !important" >Calcul mental - 6e (avec mathsmentales.net)</a></h3> -->

</div>    
{{ partial "footer" . }}

{{ end }}

