<!-- {{/*
Utilisation: {{% listeDEsExercicesDNBmultiThemes "theme1,theme2,theme3,..." %}}
*/}}-->


{{$itThemes := split (.Get 0) ","}}

<h2 class="ui horizontal divider header">Exercices du brevet des collèges</h2>
<div id="MenuDesExercicesDNB"></div>
{{range $itThemes }}
  <script type="module">
    import {dictionnaireDesExercicesAleatoires} from "/modules/dictionnaireDesExercicesAleatoires.js";
    import {filtreDictionnaireValeurTableauCle} from "/modules/outils.js";
    import {liste_html_des_tags} from "/modules/menuDesExercicesDisponibles.js";    
    import {dictionnaireDNB} from "/modules/dictionnaireDNB.js"
    
    function myhtml(theme){
        let codeHTML = `<h2 class="ui horizontal divider header">Exercices du brevet des collèges - ${theme}</h2>`;
        codeHTML += '\n<div class="ui middle aligned animated selection divided list">';
        
        let dictionnaire = filtreDictionnaireValeurTableauCle(dictionnaireDNB,"tags",theme);
        let tableauDesExercices = []
        for (let id in dictionnaire){
            tableauDesExercices.push(id)
        }
        // On créé un tableau "copie" du dictionnaire pour pouvoir le trier dans l'inverse de l'ordre alphabétique et faire ainsi apparaitre les exercices les plus récents
        tableauDesExercices = tableauDesExercices.sort().reverse()
        for (let id of tableauDesExercices) {
            codeHTML +=
            `<a style="line-height:2.5" class="item" href="/exercice.html?ex=${id}" target="_blank"><div class="header content"> ${dictionnaire[id]["annee"]} - ${dictionnaire[id]["lieu"]} - Ex ${dictionnaire[id]["numeroExercice"]} ${liste_html_des_tags(dictionnaire[id])} </div></a> \n`;
        }
        codeHTML += '\n</div>';
        return codeHTML
    }
    //console.log(dictionnaireDesExercicesAleatoires[{{.}}])
    document.getElementById('MenuDesExercicesDNB').insertAdjacentHTML('beforeend',myhtml({{.}}))
  </script>
{{end}}
