<!-- {{/*
Utilisation: {{% pdf "TITLE" "nomfichier" %}}
*/}}-->


<!--
<div class="item" href="/pdf/{{ .Get 1 }}.pdf" target="_blank">
  	<div class="header content"><a href="/pdf/{{ .Get 1 }}.pdf" target="_blank">
  		<i class="large black file pdf outline icon"></i>
  	</a>
  	<a href="/{{ .Get 1 }}" target="_blank">
  		<i class="large black file folder open outline icon"></i>
  	</a> {{ .Get 0}} </div>
</div>

-->


<div class="ui small basic animated icon buttons">
  <button class="ui button"><i class="large black file pdf icon"></i></button>
  <button class="ui button"><i class="large black file folder open outline icon"></i></button>
</div>