<!-- {{/*
Utilisation: {{% priorite_intro "lienpdf" "lienmathalea"  %}}
*/}}-->

### Objectifs de cette page
Cette page a pour but de permettre l'exploitation de plusieurs manières du test de positionnement que l'on peut trouver <a href="https://eduscol.education.fr/cid152895/rentree-2020-priorites-et-positionnement.html#lien1" target="_blank">ici sur eduscol</a>.

* En utilisant <a href="{{.Get 0}}" target="_blank">cette version statique du test de positionnement</a> ainsi que sa correction.
* En utilisant <a href="{{.Get 1}}" target="_blank">une version MathALEA du test de positionnement</a>, principalement afin de générer une nouvelle version PDF.

**Le test est trop long pour être passé en une seule fois.**

Une fois que les élèves ont passé une partie du test, l'idée est de pouvoir cibler le travail de chacun à partir des mêmes exercices proposés dans la liste détaillée ci-dessous.



Pour cela deux options :
* L'élève travaille en autonomie directement à partir des liens MathALEA.
* L'enseignant génère une version PDF à partir de la version LaTeX proposée au bout du lien MathALEA :
	* Cliquer sur l'un des liens MathALEA.
	* Cliquer sur le bouton **Version LaTeX**
	* Cliquer sur le bouton **Obtenir le PDF via OverLeaf.com**, la création d'un compte est gratuite. 