<!-- {{/*
Utilisation: {{% priorite_intro "lienpdf" "lienmathalea"  %}}
*/}}-->
### Objectifs de cette page
Cette page a pour but de permettre l'exploitation de plusieurs manières du test de positionnement que l'on peut trouver [ici sur eduscol](https://eduscol.education.fr/cid152895/rentree-2020-priorites-et-positionnement.html#lien1).

* En utilisant [cette version statique du test de positionnement]({{.Get 0}}) ainsi que sa correction.
* En utilisant [une version MathALEA du test de positionnement]({{.Get 1}}), principalement afin de générer une nouvelle version PDF.

Une fois que les élèves ont passé le test, l'idée est de pouvoir cibler le travail de chacun à partir des mêmes exercices proposés dans la liste détaillée ci-dessous.

Pour cela deux options :
* L'élève travaille en autonomie directement à partir des liens MathALEA.
* L'enseignant génère une version PDF à partir de la version LaTeX proposée au bout du lien MathALEA :
	* Cliquer sur l'un des liens MathALEA.
	* Cliquer sur le bouton **Version LaTeX**
	* Cliquer sur le bouton **Obtenir le PDF via OverLeaf.com**, la création d'un compte est gratuite. 
